html{
  background-color: white;
}
.main{
    margin-left: 20%;
    flex-direction: column;
    width:60%;
    min-width: 320px;
    align-content: center;
    position: relative;
    justify-content: center;      
}

