

html{
    background-color: whitesmoke;
  }

#name{
    display: flex;
    
}
#fname
{
    width: 202px;
    margin-right: 10px;
}
#lname
{
    width: 207px;
    margin-left: 10px;
   
}

#email {
    width: 400px;
}

#password ,#cpassword{
    width: 370px;
}
.containers{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.signup{
    margin-top: 35px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
}

#SignUpBtn{
    display: grid;
}
#signupbt{
    background-color:rgb(255, 110, 57);
    height: 48px;
    margin-top: 20px;
    width: 250px;
}
#signmsg{
    justify-content:space-around;
    margin-left: 35px;
    margin-top: 15px;
}
@media screen and (max-width: 700px) {
    
#fname
{
    width: 155px;
    margin-right: 10px;
}
#lname
{
    width: 155px;
    margin-left: 10px;
   
}

#email {
    width: 300px;
}

#password ,#cpassword{
    width: 270px;
}

.containers{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.signup{
    margin-top: 35px;
    width: 400px;
    height: 400px;
    justify-content: space-between;
   
}

#SignUpBtn{
    display: grid;
}
#signupbt{
    background-color:rgb(255, 110, 57);
    height: 48px;
    margin-top: 20px;
    width: 250px;
}
#signmsg{
    justify-content:space-around;
    margin-left: 35px;
    margin-top: 15px;
}
}